/* Resetting default margins and paddings */
* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding some basic styles for links */
a {
    text-decoration: none;
    color: inherit;
}

:root {
    --background: rgb(23, 25, 35);
    --svg-width: 500px;
    --svg-height: 500px;
}

/* Setting a default background color */
body {
    background-color: var(--background);
}

.container {
    position:relative;
}

.logo-container {
    position: relative;
    margin-top: 150px;
}

.logo-wrapper {
    position:relative;
    height: calc(0.70 * max(var(--svg-height), var(--svg-height)) + max(var(--svg-height), var(--svg-height)));
    width: calc(0.70 * max(var(--svg-height), var(--svg-height)) + max(var(--svg-height), var(--svg-height)));
    margin:0 auto;
}

.attack-container {
    position: absolute;
    height:100%;
    width:100%;
}

.logo {
    position: relative;
    height: var(--svg-height);
    width: var(--svg-width);
    margin: calc(0.35 * max(var(--svg-height), var(--svg-height))) 0 0 calc(0.35 * max(var(--svg-height), var(--svg-height)));
}