.st0 {
    filter: url(#Adobe_OpacityMaskFilter);
}

.st1 {
    fill: url(#SVGID_1_);
    stroke: url(#SVGID_00000121991190021417378030000001715025711828487355_);
    stroke-miterlimit: 10;
}

.st2 {
    mask: url(#vision_00000150068430237222718790000001091932156669108390_);
}

.st3 {
    fill: #EB4432;
}

.st4 {
    filter: url(#Adobe_OpacityMaskFilter_00000157287808235797688220000012637689750417707450_);
}

.st5 {
    fill: url(#SVGID_00000012435172035062551470000016691995672864209039_);
}

.st6 {
    mask: url(#polygons_00000075157932286720528580000012046602604636082838_);
}

.st7 {
    fill: #E7E8F2;
}

.st8 {
    visibility:hidden;
}

.st9 {
    display: inline;
}

.st10 {
    visibility:hidden;
    fill: #C28468;
}

.st11 {
    visibility:hidden;
    fill: #43535D;
}

.st12 {
    visibility:hidden;
    fill: #344B55;
}

.st13 {
    visibility:hidden;
    fill: #886A57;
}

.st14 {
    visibility:hidden;
    fill: #66584D;
}

.st15 {
    visibility:hidden;
    fill: #161921;
}

.st16 {
    visibility:hidden;
    fill: #02141A;
}

.st17 {
    visibility:hidden;
    fill: #020B11;
}

.st18 {
    visibility:hidden;
    fill: #000C0F;
}

.st19 {
    display: inline;
    fill: #786A58;
}

.st20 {
    display: inline;
    fill: #302425;
}

.st21 {
    display: inline;
    fill: #F8BA92;
}

.st22 {
    display: inline;
    fill: #616155;
}

.st23 {
    display: inline;
    fill: #FCCBA2;
}

.st24 {
    display: inline;
    fill: #858273;
}

.st25 {
    display: inline;
    fill: #FDEBC1;
}

.st26 {
    display: inline;
    fill: #FDFBE3;
}

.st27 {
    display: inline;
    fill: #3C545A;
}

.st28 {
    display: inline;
    fill: #29232C;
}

.st29 {
    display: inline;
    fill: #626C7A;
}

.st30 {
    display: inline;
    fill: #415358;
}

.st31 {
    display: inline;
    fill: #72757B;
}

.st32 {
    display: inline;
    fill: #858372;
}

.st33 {
    display: inline;
    fill: #BF9F8A;
}

.st34 {
    display: inline;
    fill: #FCF9E0;
}

.st35 {
    visibility:hidden;
    fill: #796A5B;
}

.st36 {
    visibility:hidden;
    fill: #3D545B;
}

.st37 {
    display: inline;
    fill: #804135;
}

.st38 {
    display: inline;
    fill: #743A27;
}

.st39 {
    display: inline;
    fill: #FFDDB6;
}

.st40 {
    display: inline;
    fill: #FFF3DD;
}

.st41 {
    display: inline;
    fill: #E89269;
}

.st42 {
    display: inline;
    fill: #EEA376;
}

.st43 {
    display: inline;
    fill: #FFBE95;
}

.st44 {
    display: inline;
    fill: #FFBA8F;
}

.st45 {
    display: inline;
    fill: #FFBB8F;
}

.st46 {
    display: inline;
    fill: #6D2E28;
}

.st47 {
    display: inline;
    fill: #6A2928;
}

.st48 {
    display: inline;
    fill: #2B1D21;
}

.st49 {
    display: inline;
    fill: #AB745B;
}

.st50 {
    display: inline;
    fill: #7C4136;
}

.st51 {
    display: inline;
    fill: #7F432E;
}

.st52 {
    display: inline;
    fill: #FEDCB5;
}

.st53 {
    display: inline;
    fill: #FDF7D9;
}

.st54 {
    display: inline;
    fill: #B36C54;
}

.st55 {
    display: inline;
    fill: #C47A57;
}

.st56 {
    display: inline;
    fill: #FBBD8B;
}

.st57 {
    display: inline;
    fill: #C87B5D;
}

.st58 {
    display: inline;
    fill: #C57C5D;
}

.st59 {
    display: inline;
    fill: #452B20;
}

.st60 {
    display: inline;
    fill: #5A262C;
}

.st61 {
    display: inline;
    fill: #1A1820;
}

.st62 {
    display: inline;
    fill: #746762;
}

.st63 {
    display: inline;
    fill: #622E2C;
}

.st64 {
    display: inline;
    fill: #67302A;
}

.st65 {
    display: inline;
    fill: #4C2220;
}

.st66 {
    display: inline;
    fill: #371111;
}

.st67 {
    display: inline;
    fill: #4C2022;
}

.st68 {
    display: inline;
    fill: #351D23;
}

.st69 {
    display: inline;
    fill: #A27A6D;
}

.st70 {
    display: inline;
    fill: #926B5F;
}

.st71 {
    display: inline;
    fill: #9B847F;
}

.st72 {
    display: inline;
    fill: #626B75;
}

.st73 {
    display: inline;
    fill: #DA9985;
}

.st74 {
    display: inline;
    fill: #B98371;
}

.st75 {
    display: inline;
    fill: #D39B7E;
}

.st76 {
    display: inline;
    fill: #807984;
}

.st77 {
    display: inline;
    fill: #8A8178;
}

.st78 {
    display: inline;
    fill: #D39A80;
}

.st79 {
    display: inline;
    fill: #817882;
}

.st80 {
    display: inline;
    fill: #878178;
}

.st81 {
    display: inline;
    fill: #3B5970;
}

.st82 {
    display: inline;
    fill: #3F5B70;
}

.st83 {
    display: inline;
    fill: #B7DBFD;
}

.st84 {
    display: inline;
    fill: #B8856E;
}

.st85 {
    display: inline;
    fill: #CE8A66;
}

.st86 {
    display: inline;
    fill: #AF7F70;
}

.st87 {
    display: inline;
    fill: #B08273;
}

.st88 {
    display: inline;
    fill: #495A63;
}

.st89 {
    display: inline;
    fill: #FFF4D6;
}

.st90 {
    display: inline;
    fill: #FFDEBA;
}

.st91 {
    display: inline;
    fill: #FDF7D1;
}

.st92 {
    display: inline;
    fill: #F2BC90;
}

.st93 {
    display: inline;
    fill: #FFCEA9;
}

.st94 {
    display: inline;
    fill: #FED3A6;
}

.st95 {
    display: inline;
    fill: #FFD0A4;
}

.st96 {
    display: inline;
    fill: #FFCEA5;
}

.st97 {
    display: inline;
    fill: #E4A281;
}

.st98 {
    display: inline;
    fill: #FFD0A5;
}

.st99 {
    display: inline;
    fill: #E4A581;
}

.st100 {
    display: inline;
    fill: #B46A4F;
}

.st101 {
    display: inline;
    fill: #A47F6A;
}

.st102 {
    display: inline;
    fill: #FDC397;
}

.st103 {
    display: inline;
    fill: #FFD4A9;
}

.st104 {
    display: inline;
    fill: #FFB98E;
}

.st105 {
    display: inline;
    fill: #FEC99F;
}

.st106 {
    display: inline;
    fill: #97755D;
}

.st107 {
    display: inline;
    fill: #FCC29F;
}

.st108 {
    display: inline;
    fill: #F9BE98;
}

.st109 {
    display: inline;
    fill: #FDFCE6;
}

.st110 {
    display: inline;
    fill: #FEE8C6;
}

.st111 {
    display: inline;
    fill: #FFEFCF;
}

.st112 {
    display: inline;
    fill: #FEE5C0;
}

.st113 {
    display: inline;
    fill: #F6BA91;
}

.st114 {
    display: inline;
    fill: #996A59;
}

.st115 {
    display: inline;
    fill: #FFEED0;
}

.st116 {
    display: inline;
    fill: #FFE6C1;
}

.st117 {
    display: inline;
    fill: #7C818F;
}

.st118 {
    display: inline;
    fill: #FFDEB8;
}

.st119 {
    display: inline;
    fill: #8F5F53;
}

.st120 {
    display: inline;
    fill: #AD9182;
}

.st121 {
    display: inline;
    fill: #634543;
}

.st122 {
    display: inline;
    fill: #976457;
}

.st123 {
    display: inline;
    fill: #946A59;
}

.st124 {
    display: inline;
    fill: #E6B08A;
}

.st125 {
    display: inline;
    fill: #652D29;
}

.st126 {
    display: inline;
    fill: #E28C64;
}

.st127 {
    display: inline;
    fill: #DF8964;
}

.st128 {
    display: inline;
    fill: #E68866;
}

.st129 {
    display: inline;
    fill: #9D8C8B;
}

.st130 {
    display: inline;
    fill: #332221;
}

.st131 {
    display: inline;
    fill: #9C5E4C;
}

.st132 {
    display: inline;
    fill: #9A5F4D;
}

.st133 {
    display: inline;
    fill: #A46046;
}

.st134 {
    display: inline;
    fill: #F9CC9E;
}

.st135 {
    display: inline;
    fill: #FAC196;
}

.st136 {
    display: inline;
    fill: #80797D;
}

.st137 {
    display: inline;
    fill: #7E797B;
}

.st138 {
    display: inline;
    fill: #171923;
}

.st139 {
    fill: #171923;
}

.st140 {
    display: inline;
    fill: #090A13;
}

.st141 {
    display: inline;
    fill: #68747F;
}

.st142 {
    display: inline;
    fill: #596E7F;
}

.st143 {
    display: inline;
    fill: #030E11;
}

.st144 {
    display: inline;
    fill: #000C11;
}

.st145 {
    display: inline;
    fill: #16181E;
}

.st146 {
    display: inline;
    fill: #16141F;
}

.st147 {
    display: inline;
    fill: #4D6172;
}

.st148 {
    display: inline;
    fill: #462F34;
}

.st149 {
    display: inline;
    fill: #472F38;
}

.st150 {
    display: inline;
    fill: #6B403D;
}

.st151 {
    display: inline;
    fill: #704C45;
}

.st152 {
    display: inline;
    fill: #372F38;
}

.st153 {
    display: inline;
    fill: #353C48;
}

.st154 {
    display: inline;
    fill: #030C10;
}

.st155 {
    display: inline;
    fill: #020C12;
}

.st156 {
    display: inline;
    fill: #5C372F;
}

.st157 {
    display: inline;
    fill: #0C0A14;
}

.st158 {
    display: inline;
    fill: #EED6B7;
}

.st159 {
    display: inline;
    fill: #76747F;
}

.st160 {
    display: inline;
    fill: #020C0F;
}

.st161 {
    display: inline;
    fill: #020B11;
}

.st162 {
    display: inline;
    fill: #221920;
}

.st163 {
    display: inline;
    fill: #25161F;
}

.st164 {
    display: inline;
    fill: #656873;
}

.st165 {
    display: inline;
    fill: #6A322B;
}

.st166 {
    display: inline;
    fill: #753831;
}

.st167 {
    display: inline;
    fill: #CF7457;
}

.st168 {
    display: inline;
    fill: #EC9A70;
}

.st169 {
    display: inline;
    fill: #55333A;
}

.st170 {
    display: inline;
    fill: #8A4339;
}

.st171 {
    display: inline;
    fill: #030D12;
}

.st172 {
    display: inline;
    fill: #743E39;
}

.st173 {
    visibility:hidden;
    fill: #8FAAB9;
}

.st174 {
    visibility:hidden;
    fill: #91736C;
}

.st175 {
    visibility:hidden;
    fill: #2B3847;
}

.st176 {
    visibility:hidden;
    fill: #283748;
}

.st177 {
    visibility:hidden;
    fill: #6B5658;
}

.st178 {
    visibility:hidden;
    fill: #3C2E34;
}

.st179 {
    visibility:hidden;
    fill: #2F2830;
}

.st180 {
    visibility:hidden;
    fill: #382B29;
}

.st181 {
    visibility:hidden;
    fill: #5A494E;
}

.st182 {
    visibility:hidden;
    fill: #7C6D64;
}

.st183 {
    visibility:hidden;
    fill: #7C6D63;
}

.st184 {
    visibility:hidden;
    fill: #5D4D50;
}

.st185 {
    visibility:hidden;
    fill: #FCBD93;
}

.st186 {
    visibility:hidden;
    fill: #D58562;
}

.st187 {
    visibility:hidden;
    fill: #8D5448;
}

.st188 {
    visibility:hidden;
    fill: #964B33;
}

.st189 {
    visibility:hidden;
    fill: #FCB888;
}

.st190 {
    visibility:hidden;
    fill: #66302E;
}

.st191 {
    visibility:hidden;
    fill: #662C2C;
}

.st192 {
    visibility:hidden;
    fill: #532D20;
}

.st193 {
    visibility:hidden;
    fill: #D48164;
}

.st194 {
    visibility:hidden;
    fill: #DF8F60;
}

.st195 {
    visibility:hidden;
    fill: #DD8C62;
}

.st196 {
    visibility:hidden;
    fill: #D8835C;
}

.st197 {
    fill: #011215;
}

.st198 {
    fill: #193846;
}

.st199 {
    fill: #173644;
}

.st200 {
    fill: #030C10;
}

.st201 {
    fill: #0A2329;
}

.st202 {
    fill: #0B242B;
}

.st203 {
    fill: #183137;
}

.st204 {
    fill: #061D25;
}

.st205 {
    fill: #030E0E;
}

.st206 {
    fill: #030B10;
}

.st207 {
    fill: #051116;
}

.st208 {
    fill: #020C0F;
}

.st209 {
    fill: #070F11;
}

.st210 {
    fill: #031014;
}

.st211 {
    fill: #041114;
}

.st212 {
    fill: #061318;
}

.st213 {
    fill: #091B1F;
}

.st214 {
    fill: #010A10;
}

.st215 {
    fill: #071E24;
}

.st216 {
    fill: #112B32;
}

.st217 {
    fill: #010B0E;
}

.st218 {
    fill: #253F42;
}

.st219 {
    fill: #0A242D;
}

.st220 {
    fill: #193238;
}

.st221 {
    fill: #233A40;
}

.st222 {
    fill: #0C2530;
}

.st223 {
    fill: #031218;
}

.st224 {
    fill: #05151A;
}

.st225 {
    fill: #20363B;
}

.st226 {
    fill: #3A5150;
}

.st227 {
    fill: #061924;
}

.st228 {
    fill: #0E2939;
}

.st229 {
    fill: #173443;
}

.st230 {
    fill: #0C2632;
}

.st231 {
    fill: #102A34;
}

.st232 {
    fill: #010D12;
}

.st233 {
    fill: #081D28;
}

.st234 {
    fill: #0A212C;
}

.st235 {
    fill: #020C10;
}

.st236 {
    fill: #07171C;
}

.st237 {
    fill: #274245;
}

.st238 {
    fill: #264245;
}

.st239 {
    fill: #4D655F;
}

.st240 {
    fill: #2D4548;
}

.st241 {
    fill: #10292F;
}

.st242 {
    fill: #0A2027;
}

.st243 {
    fill: #021216;
}

.st244 {
    fill: #041216;
}

.st245 {
    fill: none;
}